:root {
    --color-primary: #5ec576;
    --color-secondary: #ffcb03;
    --color-tertiary: #ff585f;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

/* GENERAL ELEMENTS */
.section {
    padding: 8rem 5rem;
    border-top: 1px solid #ddd;
    transition: transform 1s, opacity 1s;
    border-bottom: #9d9d9d solid 2px;
    margin: 0 5rem;
}

.section:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

.section__title {
    width: max-content;
    margin: 0 auto 4rem auto;
}

.section__description {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 0.2rem;
}

.section__header {
    font-size: 2rem;
    opacity: 0.8;
    line-height: 1.3;
    font-weight: 500;
}

p {
    color: #666;
}

img {
    transition: filter 0.5s;
}

.lazy-img {
    filter: blur(20px);
}

/* FEATURES */
.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    /* margin: 0 12rem; */
}

.features__img {
    width: 100%;
    border-radius: 10%;
}

.features__feature {
    align-self: center;
    justify-self: center;
    width: 80%;
}

.features__header {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.features__feature p {
    font-size: 1rem;
}

/* OPERATIONS */
.operations {
    max-width: 100rem;
    margin: 6rem auto 0 auto;
    background-color: #fff;
}

.operations__tab-container {
    display: flex;
    justify-content: center;
}

.operations__tab {
    margin-right: 2.5rem;
    transform: translateY(-50%);
}

.operations__tab span {
    margin-right: 1rem;
    font-weight: 600;
    display: inline-block;
}

.operations__tab--1 {
    background-color: var(--color-secondary);
}

.operations__tab--1:hover {
    background-color: var(--color-secondary-darker);
}

.operations__tab--3 {
    background-color: var(--color-tertiary);
}

.operations__tab--3:hover {
    background-color: var(--color-tertiary-darker);
}

.operations__tab--active {
    transform: translateY(-66%);
}

.operations__content {
    display: none;

    /* JUST PRESENTATIONAL */
    font-size: 1.2rem;
    padding: 2.5rem 7rem 6.5rem 7rem;
}

.operations__content--active {
    display: flex;
    flex-direction: column;
    line-height: 28px;
}

.operations__header {
    font-size: 1.3rem;
    font-weight: 500;
    align-self: center;
    color: #3f3f3f;
    margin-bottom: 1.5rem;
}

.btn {
    display: inline-block;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 0.25rem 1.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
}

/* SLIDER */
.slider {
    max-width: 100rem;
    height: 30rem;
    margin: 0 auto;
    position: relative;

    /* IN THE END */
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 25rem;

    display: flex;
    align-items: center;
    justify-content: center;

    /* THIS creates the animation! */
    transition: transform 1s;
}

.slide>img {
    /* Only for images that have different size than slide */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    top: 35%;
    z-index: 10;

    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
    scale: 0.6;
}

.slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
}

.slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
}

.dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    scale: 0.6;
}

.dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 2rem;
    cursor: pointer;
    transition: all 0.5s;

    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
    margin: 0;
}

.dots__dot--active {
    background-color: #fff;
    /* background-color: #888; */
    opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
    width: 65%;
    position: relative;
}

.testimonial::before {
    content: '\201C';
    position: absolute;
    top: -2.2rem;
    left: -6.8rem;
    line-height: 1;
    font-size: 12rem;
    font-family: inherit;
    color: var(--color-primary);
    z-index: -1;
}

.testimonial__header {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.testimonial__text {
    font-size: 1.2rem;
    margin-bottom: 3.5rem;
    color: #666;
}

.testimonial__author {
    margin-left: 3rem;
    font-style: normal;

    display: grid;
    grid-template-columns: 6.5rem 1fr;
    column-gap: 2rem;
}

.testimonial__photo {
    grid-row: 1 / span 2;
    width: 6.5rem;
    border-radius: 50%;
}

.testimonial__name {
    font-size: 1.2rem;
    font-weight: 500;
    align-self: end;
    margin: 0;
}

.testimonial__location {
    font-size: 0.8rem;
}

/* .section__title--testimonials {
    /* margin-bottom: 4rem; */
/* }  */

/* SIGNUP */
.section--sign-up {
    background-color: #37383d;
    border-top: none;
    border-bottom: 1px solid #444;
    text-align: center;
    padding: 10rem 3rem;
}

.section--sign-up .section__header {
    color: #fff;
    text-align: center;
}

.section--sign-up .section__title {
    margin-bottom: 6rem;
}

.section--sign-up .btn {
    font-size: 1.9rem;
    padding: 2rem 5rem;
}