
.head_text{
  margin-top:1rem ;
   width: 90vw;
   margin-left: 2rem;
   margin-bottom: 1.5rem;
}
.head_text h2{
    color: #1E0342;
}
.head_text p{
    color: grey;
    font-size: small;
    margin-left: 1rem;
}
.top_restaurant{
    display: grid;
    grid-template-columns: auto auto auto ;
    
    gap: 1rem;
    /* grid-template-columns: 15rem 15rem 15rem 15rem 15rem ; */
    width: 95vw;
    margin-left: 2rem;
   
}