body{
    overflow-x:hidden ;
}
.content_meet1 img{
margin-top: 3rem;
width: 89rem;
height: 35rem;
}
.content_meet2 h1{
    text-align: center;
    margin-top: 0.5rem;
}
.content_meet3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
.content_meet3 img{
width:32rem;
height: 22rem;
margin-top: 2rem;
margin-left: 3rem;
}
.content_meet3 p{
    margin-top: 3rem;
    margin-right: 10rem;
    
}
.head1{
    margin-top: 2rem;
    margin: 3rem;
}
.content_meet4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    width: 95%;
    margin-left: 3rem;
    margin-top: 1rem;
}
.content_meet4 img{
width: 20rem;
height: 14rem;


}
.content_meet5 h1{

    text-align: center;
    margin-top: 1rem;
}
.content_meet6{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
.content_meet6 img{
width:32rem;
height: 22rem;
margin-top: 2rem;
margin-left: 3rem;
}
.content_meet6 p{
    margin-top: 3rem;
    margin-right: 10rem;
    
}
.content_meet7{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    width: 95%;
    margin-left: 3rem;
    margin-top: 1rem;
}
.content_meet7 img{
width: 20rem;
height: 14rem;


}